@media (max-width:400px) {
    .card {
        flex-direction: column;
        margin: 20px 11px;
    }
    .card>img {
        max-width: 353px;
        border-top-right-radius: 10px;
        height: 314px;
        margin-bottom: 20px;
    }
    
}
@media (min-width:1000px) {
.card {
    width: 600px;
}
}